
p, li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

body {
    max-width: 60%;
    margin-inline: auto;
    margin-block-start: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
}

.options {
    display: flex;
}

.nav-item {
    padding: 10px;
    list-style: none;
    margin-inline: 7px;
    color: gray;
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid black;
    color: black;
}

.div-info {
    display: flex;
    flex-direction: column;
}

.info {
    min-height: 100px;
    border-radius: 10px;
    background-color: black;
    align-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}